:root{
    --mainColor: rgb(70,92,255);
    --black: black;
    --fontSize: 22px;
}


body{
    background: var(--mainColor);
    background: linear-gradient(90deg, var(--mainColor) 0%, rgba(0,103,233,1) 100%);
}
.highlight{
    color: var(--mainColor);
    font-weight: bold;
    font-size: 15px;
}

input[type="radio"]{
    display: none;
}
.active {
    font-weight: bold;
    color: var(--mainColor);
  }
.bold {
    font-weight: bold;
}
.active>.page-link, .page-link.active{
    font-size: var(--fontSize);
    border:none;
    color: var(--black) !important;
    background-color: transparent !important;
}
.paginationCustom>.page-link, .page-link.paginationCustom{
    font-size: var(--fontSize);
    border:none !important;
    color: var(--mainColor) !important;
    background-color: transparent !important;
}

