body{
    background: rgb(70,92,255);
    background: linear-gradient(90deg, rgba(70,92,255,1) 0%, rgba(0,103,233,1) 100%);
}
.highlight{
    color: rgb(70,92,255);
}

input[type="radio"]{
    display: none;
}
.active {
    font-weight: bold;
    color: blue;
  }

